.headers{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    margin-bottom:1em;
}
.head{
    color:#6439ff;
    font-size:1rem;
}
.onlineButton {
    display:flex;
    align-items:center;
    gap:.5em;
    padding:.3em .7em;
    border: 1px solid #999;
    border-radius:20px;
    color:#888;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Styling checkbox */
  width: 13px;
  height: 13px;
  background-color: #888;
  border-radius: 10px;
}

input[type="checkbox"]:checked {
  background-color: green;
}