.chat {
    display: flex;
    align-items: center;
    font-weight: 500;
}
.user {
    flex: 1;
    border-right: 1px solid grey;
    background-color: white;
    min-height: 100vh;
    overflow-y: auto;
}
.messages {
    flex:4;
    background-color: rgb(223, 223, 223);
    min-height: 100vh;
    overflow-y: hidden;
}
.container{
    width:90%;
    margin:0 auto;
}
.heading {
    min-height: 80px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    color: white;
}
.mainChat{
    margin-top: 10px;
    border-right: 2px solid #333;
    overflow-y: auto;
}
.pending{
    display: flex;
    align-items: center;
    gap: 3em;
}
.pendingContainer{
    font-size: .8rem;
    min-height: 50px;
    padding: 0 2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 3em;
    color: blue;
}
.pendingContainer:hover{
    background-color: rgb(228, 228, 228);
}
.pendingContainer:hover .pendingText{
    text-decoration: underline;
    text-underline-offset: .5em;
}
.pendingText{
    font-size: .8rem;
    font-style: italic;
}
.pendingNumber{
    padding: .2em .7em;
    border-radius: 50%;
    background-color: rgb(192, 192, 241);
    color: blue;
}
.emptyConvo{
    font-size: 20px;
    color: grey;
    text-align: center;
}
.messages_container {
    position: relative;
    width: 100%;
}
.userImage{
    width: 50px;
    height: 50px;
    background-color: grey;
    border-radius: 50%;
}
.messageUser {
    background-color: blue;
    min-height: 80px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile{
    display: flex;
    align-items: center;
    gap: 1em;
}
.icons{
    display: flex;
    align-items: center;
    color: white;
    gap: 2em;
    cursor: pointer;
}
.userContent{
    color: white;
    font-size: .8rem;
    font-weight: 400;
}
.userContent p {
    font-size: .6rem;
    font-style: italic;
}

