.cardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    word-wrap: wrap;
    gap:2em;
    margin-top: 2em;
}
@media screen and (min-width: 800px) {
    .cardContainer{
        grid-template-columns: repeat(3, 1fr);
    }
    
}