.form{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form input[type=submit] {
    padding:5px 20px;
    border:2px solid #0000FF;
    outline:none;
    border-radius:10px;
    color:#0000FF;
    background-color: rgb(235, 235, 235);
    cursor: pointer;
    align-self: center;
    transition: .3s 0.1s ease-in-out;
}
.logo {
    font-size: 30px;
    font-weight: bold;
    color: #0000FF;
    font-family: 'Lato', sans-serif;
    font-style:italic;
    margin: 0 0 0 2em;
}
.uploadedImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageLabel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
}
.imageDiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.imageIcon{
    color: gray;
    font-size: 15px;
}.imageIcon:hover{
    color: #0000FF;
}
.imageText{
    color: gray;
}.imageText:hover{
    color: #0000FF;
}
.uploadSection{
    width: 0;
    height: 0;
}

form input[type=submit]:hover {
    background-color: #0000FF;
    color:white
}
.formContainer{
    min-height: 80vh;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(143, 131, 131);
    padding: 20px;
    overflow: scroll;
}
.name{
    display: flex;
    gap: 3em;
}
.name input {
    width: 100%;
}
.inputBox{
    display: flex;
    flex-direction: column;
}
.inputBox label{
    font-size: 14px;
}
form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form .multipleInputContainer input {
    margin-right: 10px;
}
.formContent input {
    padding: 5px 10px;
    margin: 10px 0;
    font-size: 12px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
}
form .multipleInputContainer {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
}
form .multipleInputContainer input {
    text-align: center;
    width: 30%;
    max-width: 250px;
}

form .multipleInputContainer label {
    padding: 10px;
    border: solid 2px rgb(144, 144, 144);
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
    cursor: pointer;
}
form input[type=radio] {
    display: none;
}
form .genderInputBox{
    display: flex;
    align-items: center;
    gap: 1em;
    margin:1em 0;
}
form .genderInputBox input[type=checkbox]{
    padding:5px;
    border-radius:10px;
    margin:0;
    background-color: transparent;
}
form .genderInputBox input[type="checkbox"]:checked {
    background-color: #0000FF;
}
form input[type=radio]:checked + label {
    border: solid 2px #0000FF;
}
.profileImage{
    width:200px;
    height:250px;
    border-radius:10px;
}
.imageMainDiv{
    position:relative;
    height:100%;
}

#dob_year input:invalid {
  border: 2px dashed red;
}
#dob_year input:invalid:focus {
  background-image: linear-gradient(pink, lightgreen);
}

.deleteButton{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .5em;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
    outline: none;
    transition: all ease-in-out;
    transition-duration: 500;
    border: none;
    color: white;
}
.formPhoto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}
.formPhoto h1{
    color:#0000FF;
    text-align: center;
    margin-bottom: .5em;
}
@media screen and (min-width: 700px) {
    .form{
        background-color: rgb(182, 182, 182);
        overflow: hidden;
    }
    .formContainer{
        background-color: #f5f5f5;
        width: 95%;
        margin: 0 auto;
    }
    form{
        margin-top: 3em;
        display: flex;
        flex-direction: column;
    }
    form .formContent input {
        padding: 10px 20px;
    }
    form .innerContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    form .formPhoto{
        width: 50%;
    }
    form .formContent{
        width: 40%;
        max-width: 500px;
    }
    .profileImage{
        width: 300px;
        height: 400px;
    }
}